<% if @collective.errors.any? %>
  <div class="notice alert-warning">
      <p>There were some errors:</p>
      <br>
        <% @collective.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
    </div>
<% end %>

<div class="form-horizontal">
  <%= form_for @collective do |w| %>

    <div class="form-group">  
      <%= w.label "name: ", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= w.text_field :name, class: "form-control" %>
      </div>
     </div> 

    <div class="form-group">
      <%= w.label "category: ", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= w.select :category, [["mind"], ["body"], ["spirit"], ["syncretic"]], include_blank: true, class: "form-control" %>
      </div>
    </div> 

    <div class="form-group">  
      <%= w.label "about: ", class: "col-md-4 control-label" %>
      <div class="col-md-4">
        <%= w.text_field :about, class: "form-control" %>
       </div>
     </div>  


     <div> 
      <%= w.submit %>
    </div>
  <% end %>

