<%= link_to "Back ", collectives_path %>

<br>
<div class="list-group"> 
  <p class="list-group-item"><b>name:</b> <%= @collective.name%></p>
  <p class="list-group-item"><b>about:</b> <%= @collective.about %></p>
  <p class="list-group-item"><b>category:</b> <%= @collective.category %></p>


  
  
<br>
  <% if !@collective.users.include?(current_user) %>
    <p><%= link_to "Add to your persona", new_collective_persona_path(@collective), class: "form-group btn btn-primary" %></p>
  <% end %>
<% if @collective.creator_id == current_user.id %>
  <%= link_to "Edit this collective", edit_collective_path %>
<% end %>
