






<h1><%= @current_user.name %></h1>


<div class="list-group"> 
  <h3>Your reviews:</h3>
    <% @current_user.personas.each do |r| %>
      <h4 class="list-group-item"><%= link_to collective_name(r.collective), wine_rating_path(r.collective, r.id) %> - <%= show_stars(r.stars) %></h4>
    <% end %>
</div>
<br>
<p> <%= link_to "Add a new individual to the collective", new_collective_path, class: "btn btn-primary" %> </p>
<p> <%= link_to "Review a new persona", new_persona_path, class: "btn btn-primary" %> </p