






<h1><%= @current_user.name.upcase %></h1>


<p>
  <strong>Reviews:</strong>
 <div>
  <% @user.personas.each do |review| %>
  <%= link_to review.collective.name, review %> has <%= review.stars %> stars 
</div>
  <% end %>

</p>


<br>

<p> <%= link_to "create a new persona", new_persona_path, class: "btn btn-primary" %> </p>
<p> <%= link_to "See individuals in the collective", collectives_path, class: "btn btn-primary" %> </p>


    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link active" href="<%= user_path %>">Home</a></li>
        <% if current_user %>
        <br><br/> 
         
          <%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}, {:class=>"nav-item nav-link"}) do %>
            <input type=submit value='Log Out'>
          <% end %>
        
        <% end %>
    </ul>  