<% if params[:collective_id] %>
  <h1><%= @personas.first.collective.name %></h1>
  <% else %>
  <h1>personas</h1>
  <% end %>

<ul class="list-group">
  <% @personas.each do |persona| %>

      pname: <%= persona.collective.name%> <br>
       User: <%=  persona.user.name %>
       persona: <%= persona.stars%> 
     <br> <%= link_to "Read the review", collective_persona_path(persona.collective, persona) %></li>
    <% end %>
    </ul>
    <br>


    
<div class="sort-form">
    <%= form_tag '/filter' do %>
        <label>Sort by:</label>
        <%= select_tag "filter", "<option>Popularity</option>".html_safe, include_blank: true %>
        <%= submit_tag "Submit" %>
      <% end %>
  </div>
<br>




</p>
    <% if params[:collective_id] %>
        <p><%= link_to "New persona", new_collective_persona_path(params[:collective_id]), class: "btn btn-primary" %></p>
      <% else %>
        <p> <%= link_to "Add a new persona", new_persona_path, class: "btn btn-primary" %> </p>
      <% end %>

    




    <%= link_to "popular", popular_path(@persona) %>