

<%= @persona.stars %> stars 

<h1><%= @persona.collective.name %> </h2>
 


<h3>Comments: </h3>
<p><%= @persona.comment %></p>
<h3>connection: </h3>
<p><%= @persona.connection %></p>
<% if current_user == @persona.user %>
  <%= link_to "Edit Review", edit_collective_persona_path(@persona.collective, @persona) if @persona.collective %>
<% end %>

<br><br/>
<%= link_to "Home", user_path(current_user)%>